In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../step_1_reading_and_preprocessing/tables/cleaned_data.csv")

In [3]:
avg_price = df["Price_clean"].mean()
low, high = avg_price*0.9, avg_price*1.1
mask = (df["Price_clean"]>=low)&(df["Price_clean"]<=high)
top10_speed = df[mask].nlargest(10, "Total_Speed_clean")[['Company Names','Cars Names','Price_clean','Total_Speed_clean']]
top10_speed.to_csv("tables/top10_fast_in_avg_price_window.csv", index=False)
top10_speed

    Company Names                   Cars Names  Price_clean  Total_Speed_clean
553       Porsche                      911 GT3     161100.0              318.0
566       Porsche            718 Cayman GT4 RS     141700.0              315.0
36   ASTON MARTIN                     VANTAGE      142000.0              313.0
609       Porsche            911 Carrera 4 GTS     137000.0              311.0
616       Porsche  911 Carrera GTS Lightweight     145300.0              311.0
610       Porsche              911 Targa 4 GTS     157300.0              307.0
935         Acura                   NSX Type S     157000.0              307.0
954         Acura        NSX 3.5L Hybrid Coupe     157000.0              307.0
957         Acura           NSX Carbon Edition     157000.0              307.0
99            BMW                        M5 CS     142000.0              305.0